<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.stopgame.artem.stopgame">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logostopgame"
        android:roundIcon="@drawable/logostopgame"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.view.MediaPlayerActivity">

        </activity>

        <service
            android:name=".additional_layout.media_audio.PlayerService"
            android:exported="true"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <service android:name=".additional_layout.media_audio.MediaPlayerService" />

        <activity android:name=".MainActivity" >

        </activity>
        <activity android:name=".ui.view.PostShowAppActivity">

        </activity>
        <activity android:name=".ui.view.NewsListAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="stopgame.ru"
                    android:scheme="https"/>
                <data
                    android:host="stopgame.ru"
                    android:scheme="http"/>
            </intent-filter>

        </activity>
        <activity android:name=".ui.view.SettingsAppActivity">

        </activity>
        <activity android:name=".ui.view.AuthenticationAppActivity">

        </activity>
    </application>

</manifest>